.ind-50{
    text-indent: 50px;
}
.text-center{
    text-align: center;
}
aside{
    display: flex;
    justify-content: end;
}
.notification {
    position: fixed;
    top: 5px;
    left: 10px;
    font-size: 1.3rem;
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
    -webkit-animation: slide-out-top 0.25s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
    animation: slide-out-top 0.25s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
  }
  
  .success {
    background-color: #9fdfa2;
  }
  .error{
    background-color: #df9f9f;
  }

  @-webkit-keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  
    100% {
      -webkit-transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 0;
    }
  }
  
  @keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  
    100% {
      -webkit-transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 0;
      display: none;
    }
  }
  
  .visualiserItem {
    height: 100vh;
    background-repeat: no-repeat;
  }