.ind-50 {
  text-indent: 50px;
}
.text-center {
  text-align: center;
}
aside {
  display: flex;
  justify-content: end;
}
.notification {
  z-index: 999;
  position: fixed;
  top: 5px;
  left: 10px;
  font-size: 1.3rem;
  border-radius: 7px;
  margin: 5px;
  padding: 5px;
  -webkit-animation: slide-out-top 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    2s both;
  animation: slide-out-top 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s both;
}

.success {
  background-color: #9fdfa2;
}
.error {
  background-color: #df9f9f;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
    display: none;
  }
}

/* .visualiserItem {
    height: 100vh;
    background-repeat: no-repeat;
  } */

#containerVisu {
  /* position: absolute;
    top: 0;
    left: 50%; */
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  /* background-color: #df9f9f; */
  aspect-ratio: 120 / 176;
  margin: auto;
  border-radius: 7px;
}
#cadreVisu {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #3a3838;
}

.itemVisu {
  padding-top: 5%;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;

  box-sizing: border-box;
  height: 100%;
  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.titreVisu, .contenuVisu {
  padding: 0 3px 5px 3px;
  border-radius: 7px;
  text-align: center;
  text-wrap: wrap;
  background: #ffffff70;
  color: black;
}
.contenuVisu {
  width: 80%;
}
#backButton, #nextButton {
  position: absolute;
  top: 50%;
}
#backButton {
  left: 0;
}

#nextButton {
  right: 0;
}
body {
  position: relative;
}
